body {
    height: 100vh;
}

.selected {
    box-shadow:
        0 0 60px 15px #fff,  /* inner white */
        0 0 100px 30px #f0f, /* middle magenta */
        0 0 140px 45px #0ff; /* outer cyan */
    z-index: 1;
}

.image_cropped {
    object-fit: cover;
    border-radius: 50%;
}

.image_ability_cropped {
    object-fit: cover;
    border-radius: 10%;
}

.x-centered {
    position:absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

#myAbilities img {
    position: absolute;
}

@keyframes floatFade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.floating-text {
  position: absolute;
  pointer-events: none;
  font-weight: bold;
  font-size: 20px;
  animation: floatFade 2s ease-out forwards;
  white-space: nowrap;
}